<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- build:remove -->
  <!--<script>-->
    <!--//Handle errors for Development runtime!-->
    <!--window.onerror = function(a, b, c, d, err) {-->
      <!--// electron-connect failed to connect (hopefully?)-->
      <!--if ('ECONNREFUSED' === err.code) {-->
        <!--console.warn("It appears there\'s a connection error. Chances are it's related to 'electon-connect', be sure it's running!");-->
        <!--return true;-->
      <!--}-->

      <!--// Double error from above... We'll just ignore it-->
      <!--if ('Cannot read property \'aborted\' of null' === err.message) {-->
        <!--return true;-->
      <!--}-->
    <!--};-->

    <!--require('electron-connect').client.create();-->
  <!--</script>-->
  <!-- endbuild  -->
</head>

<body>
  <div id="root"></div>
</body>
</html>
